body {
  font-family: 'Oswald', sans-serif;
  background-color: #EEE;
}

h1 {
  font-size: 4.5em;
  margin: 5px 0 15px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  color: #AD3E3E;
}

h1, .now-playing {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

h3, label {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  display: inline;
}

.clear {
  clear:both;
}

.billboard {
  text-align: center;
}

.block {
  display: block;
}

.blr {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.bump {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.movie-poster-title {
  text-align: center;
  width: 127px;
  min-height: 275px;
  overflow: hidden;
  display: inline-block;
  margin: 14px;
}

.movie-poster-title:hover > .title {
  cursor: pointer;
  text-decoration: underline;
}

.now-playing {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 3em;
  text-align: left;
  text-decoration: none;
  margin-bottom: 15px;
}

.poster {
  width: 125px;
  height: relative;
}

.poster:hover {
  cursor: pointer;
}

.poster-frame {
  width: 127px;
  height: 200px;
}

.sub-title {
  font-size: 14px;
  opacity: 0.8;
}

.text-zoom {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.time-set-1, .time-set-2 {
  display: none;
  font-size: 1.4em;
}

.title {
  font-size: 20px;
  line-height: 18px;
}

.transition {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.zoom {
  width: 125px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

#film-display {
  background: #BCD4DE;
  border-radius: 5px;
}
